<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javaweb.springboot_web.mapper.NoteMapper">

    <!--    id=方法名 resultType=返回值类型-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into note (content)
        values(#{content})
    </insert>


    <update id="updateById">
        update note set content = #{content} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from note where id = #{id}
    </delete>

    <delete id="clear">
<!--        delete from note-->
        truncate table note
    </delete>

    <select id = "findAll" resultType="com.javaweb.springboot_web.pojo.Note">
        select * from note
    </select>

</mapper>